.beginningOfPortfolioDiv {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 1) 80%
    ),
    url("https://portfoliogifs.s3.us-east-2.amazonaws.com/wallpaperBehindProfilePic.jpg")
      no-repeat 70%;
  background-size: cover;
  height: 100%;
  padding-top: 50px;
}
.profilePic {
  height: 30vh;
  width: 30vh;
  border-radius: 100%;
  border: 5px solid lightblue;
  overflow: hidden;
}
.navigation-buttons {
  font-family: "Roboto";
}
